/*css boxコメント　*/
.box2 {
  float: left;
  width: 31%;
  border: solid 3px tomato;
  box-sizing: border-box;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.flexible-images {
  max-width: 100%;
  height: 500px;
}
.container {
  display: flex;
  flex-direction: row;
}
.box {
  border: solid 2px skyblue;
  margin: 10px;
  flex: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
div  {
     margin : 5px ;
     background-color : lightblue ;}

.flexible-images {
  max-width: 100%;
  height: auto;
}

.radius {
  background-color: #f8e58c;
  border-radius: 10px;
}
