
.box10 {
  background-image: url("../images/ku_satyu.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;}

@media (min-width: 767px) {
  .box10 {
      height: 500px;
  }
}

.box {
  border: solid 2px skyblue;
  margin: 10px;
  flex: 1;
  background-color: #a8e58c;
}

.container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.radius_box {
  border: solid 2px skyblue;
  width: 50%;
  margin: 10px;
  flex: 1;
    background-color: #f8e58c;
  border-radius: 10px;
}
