
.box10 {
  background-image: url("../images/ku_satyu.jpg");
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center center;}

@media (min-width: 767px) {
  .box10 {
      height: 500px;
  }
}

.box {
  border: solid 2px skyblue;
  margin: 10px;
  flex: 1;
  background-color: #a8e58c;
  text-align: center;
}
.box3 {
  background-color: #f8e58c;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.box1 {
  text-align: center;
  margin: 10px;
}


.box2 {
  text-align: center;
  padding:20px 30% 50px 30% ;
  margin: 10px ;
  flex: 1;
  background-color: #a8e58c;
}
  .box2 a:hover
{
    background-color: #0f949b;
}



.radius_box {
  text-align: center;
  border: solid 2px skyblue;
  padding:5%;
  margin-top: 10px ;
  height: 20px;
  background-color: #f8e58c;
  border-radius: 10px;
  display: block;
  text-decoration: none;
}
